input {
  height: 3rem;
  padding: 0 1rem;
  outline: none;
  border-radius: 0.75rem;
  background-color: #111;
  border: 1px solid #444;
  color: #eee;
  font-weight: bold;

  &:focus {
    border-color: #999;
  }
}
