.gamer-input-wrapper {
  display: flex;
  &:not(:last-child) {
    margin-bottom: 1rem;
  }

  input {
    flex: 1;
  }

  button {
    height: 3rem;
    width: 3rem;
    margin-left: 1rem;
    border-radius: 0.75rem;
    border: 1px solid #444;
    background-color: #111;
    color: #eee;
  }
}
